/* Imported https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

* {
    /* margin: 0; */
    /* padding-top: 0; */

    box-sizing: border-box;
}

body {

    background-color: beige;
    overflow-x: hidden;

}

/* NAVBAR */

li {
    display: inline;
    padding: 5px;

}

a {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 1px .5px 4px rgba(46. 31. 31. 0.5);
    color: antiquewhite;
    text-decoration: none;
}

a:hover {
    color: aquamarine;
}

.nav-bar {
    height: 110px;
    background-color: rgb(30, 54, 99);
    padding: 2px 0 10px 0;
    /* the minus margins stretch the navbar background beyond the web browser screen edge*/
    margin: -8px -10px 0 -10px;
    position: sticky;
    /*create a sticky element */
    top: 0;
    z-index: 9;
}


/* creates a line under the home and contact links to serperate them from the images links */

#nav-border {
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
}

/* HEADERS */

h1,
h2,
h3 {
    color: #0a3f63;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    /* imported font */
    text-shadow: 1px .5px 4px rgba(51, 54, 63, 0.918);
    margin: 0;
}

h1 {
    font-size: 60px;
    margin-top: 50px;
}

h2 {
    font-size: 45px;
    margin-top: 20px;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
}



#contact-h3 {
    text-shadow: none;
}

/* create a text color change animation on the h1 tags for the home and contact page headers */
@keyframes color-text {
    0% {
        color: #86aec9;
    }

    100% {
        color: #1a2c7a
    }
}

/* calss the animation by ists name in a css selector so it can be applied to a specific html element */
.animate-text {
    animation: color-text 4s;
}

/* body content */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 42px;
    box-shadow: 0 16px 8px 0 rgba(90, 70, 34, 0.849),
        4px 8px 12px 0 rgba(29, 62, 105, 80%);

        /* Adds a smooth animation for the hover effect */
    transition: all 0.3s ease-in-out;
}
/* The hover effect */
img:hover {
    filter: brightness(1.15); /* Brightens the image to "highlight" it */
    transform: scale(1.03);   /* Adds a slight pop/zoom */
    cursor: pointer;          /* Changes the mouse to a hand icon */
}

.column {
    float: left;
    width: 48%;
    /*  */
    padding: 10px;
}
/* groups elements inside a dive element together and forces any floating elements outside of the div under it with this class selector */
/* honestly setting over-rides like this makes me cringe */
/* Having at one point to work on 80 different production websites these over-rides get lost in stacks of css files and break things and make troubleshooting a pain in the A$$ */

/* not sure if flex-box was available when this was made but it seems like a better solution */
/* if have used negative values but usually because of some older design contraint that was added  */
/* you start with over-rides and negative values you might be building your castle on a swamp */
/* this is what following the lesson is doing, its not me, in case someone looks at this */
/* .container{
    background-size: 100% !important;
    margin: 0 -60px 50px -40px;
    padding: 5px 0 10px 0;

} */
/* Its like the lesson is setting up issues then adding more css to cover the issues, instead of creating a solid approach */

/* .container::after{
    content: "";
    clear:both;
    display: table;
} */

/* I did the exercise but barfff..... then applied KISS overide  */

/* .overlay{
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
    border-radius: 42px;

} */

.video-container {
    clear: both;

}