/* google font :) */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

:root {
    /* =========================================
       GLOBAL VARIABLES
       Base colors for the entire site
       ========================================= */
    --global-bg-primary: hsl(140, 29%, 67%);
    --global-text-primary: hsl(340, 25%, 95%);

    /* =========================================
       NAVIGATION: MAIN BAR
       Top-level <ul> and <a> links
       ========================================= */
    --nav-bg: hsl(141, 61%, 11%);
    --nav-text-link: hsl(340, 25%, 95%);
    --nav-text-link-hover: hsl(340, 25%, 95%);
    --nav-bg-hover: rgba(44, 30, 22, 0.85);
    --nav-border-accent: hsl(338, 65%, 45%);
    --nav-shadow-hover: hsla(338, 55%, 60%, 0.205);

    /* =========================================
       NAVIGATION: ROLLOVER MENU
       Hidden sub-menu targeting .rollover-menu
       ========================================= */
    --nav-rollover-bg-primary: #FFFFFF;
    --nav-rollover-text-link: #1cbb44;
    --nav-rollover-text-link-hover: #c5d3c9;
    --nav-rollover-border-accent: hsl(338, 65%, 45%);
    --nav-rollover-shadow-hover: hsla(145, 42%, 10%, 0.705);

    /* =========================================
       Headings
       ========================================= */
    --header-h1-text: var(--nav-bg);
    --header-h2-text: var(--nav-bg);
    --header-h2-text-decoration: hsl(59, 82%, 57%);

    /* =========================================
       Cards
       ========================================= */
    --recipe-card-bg: hsl(189, 71%, 30%);

    /* =========================================
       Paragraphs
       ========================================= */
    --p-text: hsl(128, 79%, 9%);

    /* =========================================
       Image
       ========================================= */
    --img-boxshadow: hsl(128, 79%, 9%);

    /* =========================================
       FOOTER
       Bottom block targeting footer elements
       ========================================= */
    --footer-bg-primary: #2C1E16;
    --footer-text-primary: #92B088;
    --footer-border-accent: var(--nav-border-accent);

    /* =========================================
       Form
       ========================================= */
    --frm-btn-bg: hsl(189, 71%, 30%);
    --frm-btn-txt: hsl(190, 61%, 88%);
    --frm-btn-bg-hover: hsl(199, 78%, 47%);

}


/* ---------[ Layout ]-------------- */
/* GLOBAL CORRECTIONS */
*,
*::before,
*::after {
    margin: 0;
    padding-top: 0;
    box-sizing: border-box;
    /* margin negatives not needed */
}

html {
    /* remove scroll bar x */
    overflow-x: hidden;
    /* smooth your scroll, ohh yeah */
    scroll-behavior: smooth;
}

/* the instructions keep placing the 'a' and 'ul' outside of the specific need */
/* I moved them to under .nav-bar (again this scales better) */

/* STD LAYOUT */

body {
    background-color: var(--global-bg-primary);
    color: var(--global-text-primary);
}


/* Containers ------------------------------------------------------- */

.container {
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;

}

.recipe-container {
    width: 500px;
    height: 350px;
    /* auto flex size */
    margin: 100px auto 180px;
}

/* IMAGES ------------------------------------------------------- */

.column {
    float: left;
    width: 48%;
    /* *** had to add this to get it to wrap so I could be in the same state as the instructions 
        Note: the min-width was not required by the presenter.
        Not sure if this is a newer browswer differnce or I missed something else. I spent 40 minutes looking.
    */
    min-width: 500px;
    padding: 10px;
}

.column img:nth-child(-n + 7) {
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px var(--img-boxshadow),
        0 6px 20px 0 var(--img-boxshadow);
}


/* HEADERS ------------------------------------------------------- */
h1 {
    font-family: "Sacramento", cursive;
    font-size: 80px;
    color: var(--header-h1-text);
    text-align: center;
}

h2,
h3,
h4 {
    font-family: "Josefin Slab", serif;
    text-align: center;
}

h2 {
    color: var(--header-h2-text);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: var(--header-h2-text-decoration);

}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

/* PARAGRAPHS ------------------------------------------------------- */
p {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--p-text);
    text-align: center;
}



/* FOOTERS ------------------------------------------------------- */
footer {
    /* aligned in footer-div and don't need negative margins  */
    min-height: 50px;
    padding-top: 12px;
    background-color: var(--footer-bg-primary);
    border-top: 5px solid var(--footer-border-accent);
    bottom: 0;
}

/* don't use tables for layout!!! */
footer .footer-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--footer-text-primary);
}

footer .font-copy {
    /* just for fun */
    font-size: 36px;
    display: inline;
    vertical-align: -7px;
}

/* ################# [ NAV-BAR ] ################### */

.nav-bar {
    position: sticky;
    top: 0;
    z-index: 9;
}

.nav-bar ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    background-color: var(--nav-bg);
    border-bottom: 5px solid var(--nav-border-accent);
}

.nav-bar a {
    display: block;
    font-family: "Josefin Slab", serif;
    font-optical-sizing: auto;
    font-size: 24px;
    font-weight: 800;
    color: var(--nav-text-link);
    width: auto;
    /* auto is better */
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

/* only-of-type targets unique type */
.nav-bar a:hover,
.drop:hover a:only-of-type {
    background-color: var(--nav-bg-hover);
    color: var(--nav-text-link-hover);
    box-shadow: 0 8px 16px 0 var(--nav-shadow-hover);
    transition: background-color 0.3s ease-in;

}

.nav-bar .rollover-menu {
    /* prevents the anchor links in this div from shwoing on the web browser until overwise precified */
    display: none;
    /* absolute will postion the dive element reletive to the postion of its parent element */
    position: absolute;
    background-color: var(--nav-rollover-bg-primary);
    box-shadow: 0 8px 16px 0 var(--nav-shadow-hover);
}

/* creates a treigger effect when the user hovers their mouse over the recipes link. the trigger will display all elecments within the  rollover-menu class div element */
.nav-bar .drop:hover .rollover-menu {
    display: block;
}

.nav-bar .rollover-menu a {
    color: var(--nav-rollover-text-link);

}

.nav-bar .rollover-menu a:hover {
    color: var(--nav-rollover-text-link-hover);
    box-shadow: 0 8px 16px 0 var(--nav-rollover-shadow-hover);
}

.nav-bar .rollover-menu a:nth-child(1) {
    border-top: 5px solid var(--nav-rollover-border-accent);
}


/* ################# [ RESCIPES ] ################### */

.recipe-card-background {
    background-color: var(--recipe-card-bg);
}

#featured-header {
    font-family: "Sacramento", cursive;
    font-size: 60px;
    color: var(--header-h1-text);
  
}

#featured-main-text{
    text-align: justify;
    padding-top: 20px;
    margin-left: 40px;
}

#featured-button{
    display: block;
    margin: 60px auto 0;
    background-color: var(--frm-btn-bg);
    border-radius: 35px;
    border: none;
    font-family: "Josefin Slab", serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    color: var(--frm-btn-txt);
    cursor: pointer;
}

#featured-button:hover{
    background-color: var(--frm-btn-bg-hover);
}

/* ##########################################################
    NOTE: PUT @media queries on the bottom 
    This took me a while to figure out and I don't think it was stated
########################################################## */

@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
        padding: 0;
        margin-left: -15px;
    }
}

@media screen and (max-width: 600px) {

    .column img:nth-child(-n + 7) {
        width: 350px;
        height: 225px;
    }

    .recipe-container {
        width: 350px;
        height: 225px;
    }
}


@media screen and (max-width: 1200px) {
    #pork {
        background-color: var(--recipe-card-bg);
    }

    #biscuits {
        background-color: var(--recipe-card-bg);
    }

    #featured-main-text {
        margin-left: 0;
    }
}

/* @media screen and (max-width: 1200px) {
    #featured-main-text {
        margin-left: 0;
    }
} */

@media screen and (min-width: 1600px) {
    #featured img {
        width: 700px;
        height: auto;
        /* adjusts image size 
        */
        margin-left: -100px;
        margin-top: -20px;
    }
}

@media screen and (max-width: 1599px) {
    #featured img{
        margin-left: 0;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    #featured .recipe-card-background{
        height: 300px;

    }
    #featured img{
        margin-top: -65px;
    }

}
