/* ###################################################
 COLORS
 ################################################### */
:root {

   
     --body-bg: #12162A; 
     --col-card-bg: #3E2D1F; 
     --body-text: #F9F7EF; 

     /* Shades  */
     --site-title: #EFDB9B; 
     --site-light1: #ffffff;
     --site-dark1: #000000;


     /* Colors by actions */
     --site-lnk: #A0C6E3; 
     --site-lnk-visited: #7E9AB3; 
     --site-lnk-hover: #FBCB6B; 
     --site-highlight-txt: #FFF5E1; 

     /* Accents */
     --signature: #CDD5F0; 
     --site-footer: #111111; 
 }


/* ###################################################
                    BASE SETUP
 ################################################### */

 *,
 *::before,
 *::after {
     margin: 0;
     padding-top: 0;
     box-sizing: border-box;
     /* margin negatives not needed */
 }

 html {
     /* remove scroll bar x */
     overflow-x: hidden;
     /* smooth your scroll, ohh yeah */
     scroll-behavior: smooth;
 }

body {
    font-family: "Pangolin", cursive;
    font-size: 24px;
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
    color: var(--site-title);
    
    /* push the footer down */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



 a:link {
     color: var(--site-lnk);
     text-decoration: none;
 }

 a:visited {
     color: var(--site-lnk-visited);
     text-decoration: none;
 }

 a:hover,
 a:focus-visible {
     color: var(--site-lnk-hover);
     text-decoration: underline;
     outline: 2px dashed var(--site-title);
     outline-offset: 2px;
 }
.site-title {
    text-align: center;
}



.bg-header {
    width: 100%;
    min-height: 20vh; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.438)), url('../images/across.jpg');
    background-size: 100% 100%; 
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative; 

    /* the bottom header line */
    /* border-bottom: 24px solid #000000; */
}


.belt-pattern {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 24px; 
    background-image: url('../images/knotyline.jpg'); 
    background-repeat: repeat-x; 
    background-size: contain; 
    transform: translateY(50%); 
    z-index: 5; 
}

.belt-buckle {
    position: absolute;
    /* note: to keep the buckle in the middle need to be half border-bottom: 24px */
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 10; 
}

.buckle-img {
    width: 200px; 
    height: auto;
    border: solid 4px #000000;
    
    border-radius: 40%;
    display: block;
    /* was getting bleed on background - this fixed it :) */
    filter: drop-shadow(0 6px 10px rgba(0,0,0, 0.9));
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);  */
}




main {
    flex: 1; 
}

main ul {
    list-style-type: none; 
    padding-left: 20px; 
    margin: 20px 0;
    
}

main ul > li {
    font-size: 1.1rem; 
    color: var(--site-lnk-hover); 
    margin-bottom: 16px; 
    line-height: 1;
}


main ul ul {
    list-style-type: none; 
    padding-left: 30px; 
    margin-top: 6px;
}


main ul ul > li {
    font-size: 1rem; 
    color: var(--body-text); 
    margin-bottom: 8px;
    line-height: 1.4;
}



 /* Footer ----------------------------------------------------------------*/
.footer {
     padding: 20px;
     text-align: center;
     background: var(--site-footer);
     margin-top: 20px;
     position: relative; /* Anchors belt to footer */
 }

 .footer .belt-pattern {
     bottom: auto; 
     top: 0;
     transform: translateY(-50%); /* move it to top edge of footer */
 }