:root {

    --body-bg: #1e1e24;
    --col-card-bg: #59768f;
    --body-text: #e6e6eb;

    --site-header-title: #99b4d6;
    --site-link: #fff;
    --site-link-hover: #fff;
    --site-link-visited: #fff;
    /* shades  */
    --site-title: #5e81ac;

    /* colors by actions */
    --site-combo-link: #11498d;
    --site-combo-visited: #223c5c;
    --site-combo-hover: #99b4d6;
    --site-combo-reverse-link: #99b4d6;
    --site-combo-reverse-hover: #99b4d6;

    --site-combo-notice: #cccfa2;
    --site-combo-emergency: #ec2020;

    --site-title: #5e81ac;
    --signature: #99b4d6;
    --site-header: #5e81ac;
    --site-footer: #333;
    /* --------------------------------------- */
    --site-nav-top-bg: #333;
    --site-nav-top-btn-txt: #f2f2f2;
    --site-nav-top-btn-hover: #ddd;

    /* --------------------------------------- */
    --site-btn-bg: #FEFEFE;
    --site-btn-color-txt: #58595B;
    --site-btn-border: #cccccc;
    --site-btn-bg1: #fefefe;
    --site-btn-bg2: #CCCCCC;
    --site-btn-hover-bg: #E1E1E1;
    --site-btn-hover-bg1: #E1E1E1;
    --site-btn-hover-bg2: #CCCCCC;
    --site-btn-hover-border: #b2b2b2;
    --site-btn-focus: #808080;

    /* --------------------------------------- */
    --site-chkb-border: #808080;
    --site-frm-txtbx-border: #b2b2b2;
    --site-frm-txtbx-ronly-bg: #EBEBE4;



}