 
 @import 'colors.css';
 @import 'text.css';
 @import 'menu.css';
 @import 'layout.css';
 
 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
      margin: 0;
      padding: 0;
      background-color: var(--body-bg);
      color: var(--site-title);
  }



 

  /* ================ Site ================== */
  .site-header-title {
      color: var(--site-header-title);
      font-size: 2.5rem;
      font-weight: 900;

     

      text-align: center;
  }

  .site-signature {
      color: var(--signature);
      font-size: 2.2em;
      font-family: Lucida Handwriting, Papyrus, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .site-footer {
      text-align: center;
  }