html {
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, sans-serif;
}

a:link {
    color: var(-site-combo-link);
	text-decoration: none;
}

a:visited {
	color: var(--site-combo-visited);
	text-decoration: none;
}

a:hover {
	color: var(--site-combo-hover);
	text-decoration: none;
}



/*===========================================reverse color=======*/

.font-color-reverse a:link {
	color: var(--site-combo-reverse-link);
}


.font-color-reverse a:hover {
	color: var(--site-combo-reverse-hover);
}

/*=========================================== p =======*/

 p {
      color: var(--body-text);
      text-align: left;
      margin-bottom: 16px;
      line-height: 2.1;
      letter-spacing: 0.5px;
  }

  p::first-letter {
      text-transform: uppercase;
  }

  /* This is cool I have never used this one before */
  p::selection {
      background-color: bisque;
      color: #1e1e24;
  }